/* ---------- font --------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* --------- common styles or utilities ------------ */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px ;
    border-radius: 5px;
    margin-top: 21px;
}
.section-title{
color: #562EFF;
font-size: 24px;
margin-top: 3px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* --------- Top players style ----------- */
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}


/* --------- Top blogs Style ----------- */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}

.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 250px;
    height:150px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color:#9F9F9F;
}
.blog-author a{
text-decoration: none;
color: #562EFF;
}

/* -------- courses style ---------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.course{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(14, 13, 13, 0.11);
    border-radius: 10px;
    margin: 20px;
}
.course .course-banner img{
    width:224px;
    height: 104px;
}
.filled{
    color: gold;
    font-size: 12px;
}
.course-info{
    display: flex;
    align-items: center;
}
.course-author{
    color: #ED6B4F;
}
.not-filled{
color: gray;
font-size: 12px;
padding-right: 10px;
}
.rating{
   
    margin-right: 20px;
    color: green;
}
.course-duration{
    background-color: rgb(250, 206, 206);
    color: rgb(216, 24, 24);
    border-radius: 5px;
}


/* ============= Media Queries ============== */
@media only screen and (max-width:950px){

    .container{
      margin-left: auto;
        width: 80%;
    }
   
   
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .player{
        margin-left: 50px;
    }

    .blog .thumbnail img{
        width: 150px;
        height:90px;
    }

    .courses{
        
        grid-template-columns: repeat(2,1fr);
        
    }
}


@media only screen and (max-width:580px){

    .container{
      
        width: 100%;
     
    }
    .players{
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
    .blogs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog .thumbnail img{
        width: 150px;
        height:90px;
    }

    .courses{
        
        grid-template-columns: repeat(1,1fr);
        
    }
}
